/* Базовые стили */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #212121;
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Стили компонента App */

.title {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    padding: 30px 0 20px;
}

.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* Стили компонента SearchForm */

.noteEditor {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.noteEditor text {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: honeydew;
    display: block;
    width: 100%;
    padding: 16px;
    font: inherit;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

/* Стили компонента Gallery */
.noteList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

/* Стили компонента noteItem */
.noteItem {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 10px;
    padding: 10px;
    min-width: 150px;
    min-height: 80px;
    max-width: 300px;
    background: red;
}

.text {
    padding: 10px;
}

/* Стили кнопки Load more */
.button {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #3884ff;
    transition: all 200ms ease;
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    min-width: 80px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button:hover,
.button:focus {
    background-color: #1f65d6;
    outline: none;
}

.delButton {
    composes: button;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 10px;
    min-width: 50px;
}

.marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid currentColor;
    background-color: currentColor;
    margin-right: 2px;
    outline: none;
    position: relative;
}

.marker:active::after {
    content: '\2714';
    color: black;
    font-size: 16px;
    position: absolute;
    left: 3px;
    top: -2px;
}

.marker:hover::after,
.marker:focus::after {
    content: '\2714';
    color: black;
    font-size: 16px;
    position: absolute;
    left: 3px;
    top: -2px;
}

.button:hover,
.button:focus {
    background-color: #1f65d6;
}

.form {
    position: relative;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.notesMarker {
    margin: -30px 0 0 10px;
}
